<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">
  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="title" style="display: flex; flex-direction: row;">
      <h2> Edit Inventory Item </h2>
    </div>

    <% if(errors.length !==0){ %>
      <div>
        <h5 style="color: red;">Some or all of required fields missing</h5>
      </div>
      <% } %>

        <div>
          <form action="/<%= id %>/update?_method=PUT" method="post">
            Barcode *: <input type="text" name="barcodeDigits" value="<%= barcodeDigits %>" /><br><br>
            Sender Name *: <input type="text" name="sender" value="<%= sender %>" /><br><br>
            Receiver Name: <input type="text" name="receiver" value="<%= receiver %>" /><br><br>
            Inventory Item Name: <input type="text" name="name" value="<%= name %>" /><br><br>
            Description: <input type="text" name="description" value="<%= description %>" /><br><br>
            <input type="submit" value="Save" /><br><br>
            <hr>
          </form>
        </div>
  </main>
</body>

</html>